/*
logo colors: 
light blue: #86bef6
dark blue: #6590bb
*/

.categories {
    display: block;
    position: absolute;
    top: 5.5rem;
    left: 2rem;
    width: 20%; 
    border: 3px solid #658fb8ca;
}
