/*
logo colors: 
light blue: #86bef6
dark blue: #6590bb
*/

.categories {
    display: block;
    position: absolute;
    top: 6rem;
    left: 10%;
    width: 20%; 
    border: 3px solid #658fb89b;
    background-color: white;
}

@media only screen and (max-width: 1000px) {
    .categories {
        left: 2rem;
    }
}
