/*
logo colors: 
light blue: #86bef6
dark blue: #6590bb
*/

.subreddits-pc {
    display: block;
    position: absolute;
    top: 6rem;
    left: 10%;
    width: 20%; 
    border: 3px solid #658fb89b;
    background-color: white;
}

@media only screen and (max-width: 1000px) {
    .subreddits-pc {
        left: 2rem;
    }
}

@media only screen and (max-width: 750px) {
    .subreddits-pc {
        display: none;
    }
}

.subreddits-mobile {
    display: inline-block;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 35%;
    background-color: #658fb8ca;
    color: white;
    z-index: 100;
}

.dropdown-button {
    display: block;
    padding: 10px;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    font-weight: 900;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    color: #6590bb;
    box-shadow: 3px 3px #6590bb;
}

@media only screen and (min-width: 749px) {
    .subreddits-mobile {
        display: none;
    }
}