/*
margin: TOP RIGHT BOTTOM LEFT
*/

.category-button {
    font-size: 1.2rem;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
}

.category-button:hover {
    background-color: #658fb8ca;
    color: white;
}
