/*
margin: TOP RIGHT BOTTOM LEFT
*/

.subreddit-button {
    font-size: 1.1rem;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
}

.subreddit-button:hover {
    background-color: #658fb897;
    color: white;
}


@media only screen and (max-width: 1000px) {
    .subreddit-button {
        font-size: 0.8rem;
        font-weight: bold;
    }
}

@media only screen and (max-width: 680px) {
    .subreddit-button {
        color: white;
    }

    .subreddit-button:active {
        color: red;
    }
}