#comments-button {
    margin-bottom: 10px;
    border: none;
    background-color: white;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}

#comments-button:hover {
    cursor: pointer;
    color: #6590bb;
}

.comment-list {
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}

