.post {
    border: 2px solid white;
    background-color: white;
    border-radius: 3%;
    margin-bottom: 2rem;
    width: 70%;
    margin-left: 15%;
}

.post:hover {
    border: 2px solid #6590bb81;
}

@media only screen and (max-width: 1000px) {
    .post {
        width: 95%;
        margin-left: 5%;
    }
}


.post-header {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.8rem;
    margin-top: 0.6rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.8rem;
}

.post-text {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.post-image img {
    display: block;
    max-width: 90%;
    height: auto;
}

.post-image {
    margin-left: 20%;
    margin-bottom: 1rem;;
}

.comments {
    margin-bottom: 1rem;
}